@import '../../css/colors.css';

.Autocomplete-container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #e2e2e2;
    border-radius: 22px;
    background: white;
}

.Autocomplete-container:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.2);
}

.Autocomplete-container-active {
    position: absolute;
    border-top: 1px solid white;
    border-right: 8px solid white;
    border-left: 8px solid white;
    border-radius: 0;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.22);
    padding-top: 8px;
}

@media (min-width: 767px) {
    .Autocomplete-container-active {
        border: 1px solid white;
        border-radius: 22px;
        border: 1px solid #e2e2e2;
        padding-top: 0;
    }
}

.Autocomplete-input-container {
    height: 44px;
    box-sizing: border-box;
    outline: none;
    border-radius: 22px;
}

.Autocomplete-input-container input {
    font-family: inherit;
}

.Autocomplete-input-container:after {
    content: '';
    border-bottom: 1px solid #e2e2e2;
    display: block;
    margin: 0 16px;
}

.Autocomplete-input {
    width: 100%;
    height: 100%;
    padding: 2px 16px 0 16px;
    outline: none;
    background: transparent;
    font-size: 16px;
    border: none;
    box-sizing: border-box;
}

.Autocomplete-x {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    top: 10px;
    right: 8px;
}

@media (min-width: 767px) {
    .Autocomplete-x {
        top: 4px;
    }
}

.Autocomplete-suggestions-container {
    padding-bottom: 16px;
    cursor: default;
    height: 100vh;
}

@media (min-width: 767px) {
    .Autocomplete-suggestions-container {
        height: inherit;
    }
}

.Autocomplete-suggestions-container-empty {
    padding-bottom: 0;
}

.Autocomplete-item-container:first-of-type .Autocomplete-item {
    padding-top: 10px;
}

.Autocomplete-item {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    line-height: 24px;
    padding: 6px 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 767px) {
    .Autocomplete-item-container-active {
        background: #f4f4f4;
    }
}
