@import '../../css/colors.css';

.List-container {
    flex: 1;
    width: 100vw;
    box-sizing: border-box;
    background: white;
}

.List {
    padding: 0 24px;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome and Opera */
}

.List-item-header,
.List-item {
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #f8f8f8;
}

.List-item-header {
    font-size: 12px;
    letter-spacing: 1px;
    cursor: default;
    color: #555;
}
.List-item {
    background: white;
}
.List-item-hover {
    background: #ebf5f7;
}
.List-item-active {
    background: #c6e9ee;
}
.List-item-active-hover {
    background: #d4eff3;
}
.List-item-perfect-match {
    background: #c6e9ee;
}
.List-item-perfect-match-hover {
    background: #d4eff3;
}
.List-item-key-match {
    background: #caefdb;
}
.List-item-key-match-hover {
    background: #bde2ce; /* this one is darker */
}
.List-item-mode-match {
    background: #f9eec7;
}
.List-item-mode-match-hover {
    background: #fbf4db;
}

.List-item-sub {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.List-item-order {
    width: 6%;
    max-width: 32px;
}
.List-item-artist {
    width: 30%;
    padding-right: 8px;
}

.List-item-artist > *,
.List-item-title > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.List-item-title {
    flex: 1;
    padding-right: 8px;
}
.List-item-key {
    width: 6%;
}
.List-item-cam-key {
    width: 6%;
}
.List-item-tempo {
    width: 6%;
}
.List-item-energy {
    width: 6%;
    margin-right: -8px;
}
.List-item-close {
    width: 12px;
    margin: 0 8px;
}
