.List-container {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
}

.List {
    width: 600px;
}

.List-item {
    width: 100%;
    background: white;
    padding: 8px;
}

.List-item-header {
    width: 100%;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 8px;
    background: #eee;
    font-size: 12px;
    letter-spacing: 1px;
}

.List-item {
    width: 100%;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 8px;
}

.List-item:nth-of-type(2n + 1) {
    background: #fcfcfc;
}

.List-item-sub {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.List-item-artist {
    width: 30%;
}

.List-item-title {
    width: 40%;
}

.List-item-key {
    width: 10%;
}

.List-item-tempo {
    width: 10%;
}

.List-item-energy {
    width: 10%;
}
