.About {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section {
    display: block;
    width: 100%;
}

.About-white {
    background: white;
}

.About-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: auto;
    padding: 0 16px;
    font-size: 18px;
    line-height: 24px;
}

@media (min-width: 767px) {
    .About-section {
        width: 100%;
        padding: 64px 24px;
        justify-content: space-between;
        box-sizing: border-box;
    }
}

/* TOP */

.About-top {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

@media (min-width: 767px) {
    .About-top {
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
    }
}

.About-section-2 {
    align-items: center;
}

@media (min-width: 767px) {
    .About-section-2 {
        flex-direction: row;
    }
}

.About-title-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 24px;
}

@media (min-width: 767px) {
    .About-title-section {
        align-items: flex-start;
        max-width: 500px;
        padding: 0;
        padding-right: 48px;
    }
}

.About-header {
    line-height: 56px;
    font-weight: bold;
    padding: 64px 0 48px;
    letter-spacing: 0.5px;
    font-size: 64px;
    background: -webkit-linear-gradient(45deg, #2799aa, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 767px) {
    .About-header {
        padding: 24px 0;
    }
}

.About-scene {
    perspective: 300px;
    margin-top: 16px;
    margin-right: 10vw;
    margin-bottom: 48px;
}

@media (min-width: 767px) {
    .About-scene {
        margin: 0;
        margin-right: 48px;
    }
}

.About-controller-img {
    opacity: 0;
    width: 80vw;
    transform: rotateX(8deg) rotateY(-7deg) rotateZ(8deg);
    transition: transform 2s, opacity 0.8s;
}

@media (min-width: 767px) {
    .About-controller-img {
        width: 450px;
    }
}

.About-controller-img.visible {
    opacity: 1;
    transform: rotateX(15deg) rotateY(-5deg) rotateZ(10deg);
}

/* OUTLINE */

.About-header-2 {
    font-size: 18px;
    line-height: 26px;
}

@media (min-width: 767px) {
    .About-header-2 {
        font-size: 22px;
        padding: 24px 0;
    }
}

.About-header-3 {
    font-weight: bold;
    font-size: 28px;
    line-height: 26px;
    color: #2b707c;
}

@media (min-width: 767px) {
    .About-header-3 {
        font-size: 32px;
    }
}

.About-auth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (min-width: 767px) {
    .About-auth-section {
        width: inherit;
    }
}

.About-auth-container {
    padding: 24px 0;
}

@media (min-width: 767px) {
    .About-auth-container {
    }
}

/* ABOUT */

.About-description {
    padding: 36px 0;
}

@media (min-width: 767px) {
    .About-description {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.About-description-tile {
    padding: 8px;
    cursor: default;
    margin-top: 16px;
}

@media (min-width: 767px) {
    .About-description-tile {
        width: calc(33% - 18px);
        min-height: 240px;
        padding: 40px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 0;
    }
}

.About-description-top {
    display: flex;
}

.About-icon {
    width: 32px;
    height: 32px;
    padding-right: 18px;
}

.About-p {
    margin-top: 20px;
}

.About-link {
    color: #2799aa;
    cursor: pointer;

    width: calc(100%);
    padding-bottom: 6px;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    background-size: 0% 6px, 100% 6px;
    background-repeat: no-repeat;
    background-position: 0 bottom, 0 bottom;
    background-image: linear-gradient(transparent calc(100% - 1px), #000000 1px),
        linear-gradient(transparent calc(100% - 1px), #cbcbcb 1px);
}

.About-link:hover {
    /* text-decoration: underline; */
    background-size: 100% 6px, 100% 6px;
}

/* HOW TO */

.About-section-4 {
    align-items: center;
    padding: 24px 16px;
    flex-direction: column;
}

@media (min-width: 767px) {
    .About-section-4 {
        padding: 64px 24px;
        flex-direction: row;
    }
}

.About-subheader {
    font-size: 22px;
    font-weight: bold;
    line-height: 32px;
}

.About-subsection {
    padding-top: 16px;
}

.About-section-left {
    flex: 1;
    padding-right: 48px;
}

.About-section-right {
    padding: 0;
}

@media (min-width: 767px) {
    .About-section-right {
        width: 500px;
        height: 500px;
    }
}

.About-numeral {
    padding: 12px 0 4px 16px;
}

.gray {
    color: #808080;
}
