.About {
    width: 100%;
}

.About-content {
    padding: 0 16px;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

@media (min-width: 767px) {
    .About-content {
        padding: 0 80px;
        align-items: center;
    }
}

.About-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}

@media (min-width: 767px) {
    .About-top {
        padding: 64px;
        justify-content: space-between;
        box-sizing: border-box;
    }
}

.About-title-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 24px;
}

@media (min-width: 767px) {
    .About-title-section {
        align-items: flex-start;
        max-width: 500px;
        padding: 0;
        padding-right: 48px;
    }
}

.About-header {
    font-size: 36px;
    font-weight: bold;
    padding: 64px 0 48px;
    letter-spacing: 0.5px;
}

@media (min-width: 767px) {
    .About-header {
        font-size: 48px;
        padding: 24px 0 48px;
    }
}

.About-header-2 {
    font-size: 18px;
    line-height: 26px;
}

@media (min-width: 767px) {
    .About-header-2 {
        font-size: 20px;
    }
}

.About-auth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (min-width: 767px) {
    .About-auth-section {
        width: inherit;
    }
}

.About-auth-container {
    padding: 36px 0;
}

@media (min-width: 767px) {
    .About-auth-container {
        padding: 48px 0;
    }
}

.About-auth-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    border: 2.5px solid black;
    font-size: 20px;
    cursor: pointer;

    &.About-auth-button-hover {
        animation: fadeSlideIn 2s;
        display: inline-flex;
    }
}

.About-auth-button-hover {
    background: #1db954;
    border: 2.5px solid #1db954;
    color: white;
    font-size: 16px;
}

.About-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-width: 900px;
    font-size: 16px;
    line-height: 24px;
}

@media (min-width: 767px) {
    .About-section {
        width: 100%;
        max-width: none;
        padding: 64px;
        justify-content: space-between;
        box-sizing: border-box;
    }
}

.About-description {
    padding: 40px 0;
}

@media (min-width: 767px) {
    .About-description {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.About-description-tile {
    padding: 8px;
    cursor: default;
}

@media (min-width: 767px) {
    .About-description-tile {
        width: 30%;
        padding: 0;
        padding-right: 32px;
    }
    .About-description-tile:last-of-type {
        padding-right: 0;
    }
}

.About-link {
    color: #2799aa;
    cursor: pointer;
}

.About-link:hover {
    text-decoration: underline;
}

.About-icon {
    width: 32px;
    height: 32px;
}

.About-subheader {
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
}

@-webkit-keyframes fadeSlideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeSlideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
