.Wheel-image-container {
    position: relative;
    width: 300px;
    min-width: 300px;
    height: 300px;
    padding: 0;
    padding-bottom: 24px;
    display: none;
}

@media (min-width: 767px) {
    .Wheel-image-container {
        display: inline-block;
    }
}

.Wheel-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.Wheel-cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: 0.1s ease-in-out; */
}

.Wheel-cover-center:after {
    content: '';
    position: absolute;
    background: none repeat scroll 0 0 transparent;
    display: block;
    height: 2px;
    bottom: 30px;
    left: 50%;
    background: #2eb0c4;
    transition: width 0.15s ease 0s, left 0.15s ease 0s;
    width: 0;
}

.Wheel-cover-center:hover:after {
    width: 90%;
    left: 5%;
}

circle {
    fill: none;
    stroke: white;
}

.Wheel-icon-tap {
    position: absolute;
    bottom: 30px;
    right: 0px;
    width: 40px;
    height: 40px;
    animation: ring 4s infinite;
    transform: rotate(20deg);
    transform-origin: 60% 60%;
}

@keyframes ring {
    0% {
        transform: rotate(20deg);
    }
    4% {
        transform: rotate(15deg);
    }
    8% {
        transform: rotate(25deg);
    }
    12% {
        transform: rotate(15deg);
    }
    16% {
        transform: rotate(25deg);
    }
    20% {
        transform: rotate(20deg);
    }
}
