.Modal {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%;
}

.Modal-children {
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.15);
    background: white;
    z-index: 10;
}
