.Header {
    width: 100vw;
    height: 60px;
    box-sizing: border-box;
    background: white;
    padding-left: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width: 767px) {
    .Header {
        position: fixed;
        top: 0;
        z-index: 10;
    }
}

.Header-logo {
    width: 150px;
}

.Header-tabs {
    color: black;
    display: flex;
}

.Header-tab {
    position: relative;
    padding: 16px;
    cursor: pointer;
    color: #808080;
}

.Header-tab:hover {
    background: linear-gradient(-45deg, #808080 40%, #8dd4df 60%, #404040 80%);
    background: -webkit-linear-gradient(
        -45deg,
        #808080 40%,
        #8dd4df 60%,
        #404040 80%
    );
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    background-position-x: 0;
    background-position-y: 0;
    background-size: 350% 100%;

    animation-name: whoosh;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

.Header-tab-active {
    position: relative;
    padding: 16px;
    cursor: default;
}

@keyframes whoosh {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100%;
    }
}
