.Header {
    width: 100vw;
    height: 60px;
    box-sizing: border-box;
    background: white;
    padding-left: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width: 767px) {
    .Header {
        position: fixed;
        top: 0;
        z-index: 10;
    }
}

.Header-logo {
    width: 150px;
}

.Header-tabs {
    display: flex;
}

.Header-tab {
    padding: 16px;
    color: black;
    cursor: pointer;
}

.Header-tab:hover {
    color: #26557f;
}

.Header-tab-active {
    padding: 16px;
    color: #2eb0c4;
    cursor: default;
}
