.Header {
    width: 100vw;
    height: 60px;
    box-sizing: border-box;
    background: white;
    padding-left: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width: 767px) {
    .Header {
        position: fixed;
        top: 0;
        z-index: 10;
    }
}

.Header-logo {
    width: 150px;
}

.Header-tabs {
    display: flex;
}

.Header-tab {
    padding: 16px;
    color: black;
    cursor: pointer;
    position: relative;
}

.Header-tab:after {
    content: '';
    position: absolute;
    background: none repeat scroll 0 0 transparent;
    display: block;
    height: 2px;
    bottom: 8px;
    left: 50%;
    background: #2eb0c4;
    transition: width 0.15s ease 0s, left 0.15s ease 0s;
    width: 0;
}

.Header-tab:hover:after {
    width: 80%;
    left: 10%;
}

.Header-tab-active {
    padding: 16px;
    color: #2eb0c4;
    cursor: default;
}
