.AppTemplate {
    background: #fafafa;
    width: 100vw;
    height: 100vh;
    padding: 0;
    font-family: 'Hind', sans-serif;
    display: flex;
    flex-direction: column;
}

@media (min-width: 767px) {
    .AppTemplate {
        height: calc(100vh - 60px);
        padding-top: 60px;
    }
}
