.AppTemplate {
    background: #fafafa;
    width: 100vw;
    height: calc(100vh - 60px);
    padding-top: 60px;
    font-family: 'Hind', sans-serif;
    display: flex;
    flex-direction: column;
}

.AppTemplate-m {
    padding: 0;
}
