.AppTemplate {
    background: #fafafa;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.2px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 767px) {
    .AppTemplate {
        padding-top: 60px;
    }
}
