$white: #ffffff;
$gray: #808080;
$black: #040404;

$primary-light: #b0d9e0;
$primary: #2eb0c4;
$primary-dark: #2799aa;
$secondary-light: #26557f;
$secondary: #1c3f5e;
$secondary-dark: #183651;

$accent: #f4d35e;
$accent-secondary: #ee964b;
