@import '../../css/colors.css';

.Search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Search-top {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

@media (min-width: 767px) {
    .Search-top {
        padding: 40px 40px 32px;
        flex-direction: row;
    }
}

.Search-autocomplete {
    width: 100%;
    position: relative;
    height: 46px;
}

@media (min-width: 767px) {
    .Search-autocomplete {
        flex: 1;
        max-width: 500px;
        margin-right: 24px;
    }
}

.Search-import-export {
    display: flex;
}
.Search-import,
.Search-export {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 150px;
    border-radius: 25px;
    border: 1px solid #e2e2e2;
    background: white;
    color: #555;
    font-size: 12px;
    letter-spacing: 0.6px;
    cursor: pointer;
}

.Search-import {
    margin-right: 12px;
}

.Search-import:hover,
.Search-export:hover {
    border: 1px solid #e2e2e2;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.2);
}

.Search-import:active {
    border: 1px solid #2eb0c4;
    color: #555;
    box-shadow: none;
}

/* // Mobile */

.Search-top-m {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.Search-autocomplete-m {
    flex: 1;
}

.Search-playlist-m {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    min-width: 46px;
    max-height: 46px;
    border: 1px solid #e2e2e2;
    border-radius: 46px;
    box-sizing: border-box;
    margin-left: 8px;
    background: white;
    transition: width 1s linear;
}

.Search-playlist-m:active {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.2);
}

/* // */
