@import '../../css/colors.css';

.ListMobile-container {
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    flex: 1;
    padding-top: 62px;
}

.ListMobile {
    padding: 0;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome and Opera */
}

.ListMobile-item-header,
.ListMobile-item {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
    cursor: auto;
}
.ListMobile-item-header {
    color: #555;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: default;
    padding: 0 40px;
}
.ListMobile-item-hover {
    background: #ebf5f7;
}
.ListMobile-item-drag-over {
    border-bottom: 1px solid #2eb0c4;
}
.ListMobile-item-active {
    background: #c6e9ee;
}
.ListMobile-item-active-hover {
    background: #d4eff3;
}
.ListMobile-item-perfect-match {
    background: linear-gradient(to left, #fafafa, #c5e9ee);
}
.ListMobile-item-perfect-match-hover {
    background: #d4eff3;
}
.ListMobile-item-key-match {
    background: linear-gradient(to left, #fafafa, #caefdb);
}
.ListMobile-item-key-match-hover {
    background: #dff4e8;
}
.ListMobile-item-mode-match {
    background: linear-gradient(to left, #fafafa, #f9eec7);
}
.ListMobile-item-mode-match-hover {
    background: #fbf4db;
}
.ListMobile-item-sub {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.ListMobile-item-order {
    width: 6%;
    max-width: 32px;
}
.ListMobile-item-info {
    flex: 1;
    overflow: hidden;
    padding-right: 8px;
}
.ListMobile-item-title {
    width: 100%;
    padding-right: 8px;
    overflow: hidden;
    padding-bottom: 2px;
}
.ListMobile-item-artist {
    width: 100%;
    font-size: 14px;
    color: #808080;
}
.ListMobile-item-artist > *,
.ListMobile-item-title > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ListMobile-item-key {
    width: 6%;
}
.ListMobile-item-cam-key {
    width: 6%;
}
.ListMobile-item-tempo {
    width: 6%;
}
.ListMobile-item-energy {
    width: 6%;
    margin-right: -8px;
}
.ListMobile-item-close {
    width: 12px;
    margin: 0 8px;
}

/* Mobile */
